
params {
    structure = null
    topology  = null
    mdp       = null
}

process {
    withName: energyMinimization {
        cpus 4
        memory '8 GB'
    }

    withName: equilibrationNVT {
        cpus 4
        memory '8 GB'
    }

    withName: equilibrationNPT {
        cpus 4
        memory '8 GB'
    }

    withName: productionMD {
        cpus 8
        memory '16 GB'
    }
}

executor {
    name = 'local'
}
